<%= simple_form_for(@account) do |f| %>
  <%= f.error_notification %>

  <div class="inputs">
    <%= f.input :name %>
    <%= f.input :role %>
    <%= f.association :owner %>
  </div>

  <div class="actions">
    <%= f.button :submit %>
  </div>
<% end %>
