<%
   content_for :title do
     "Listing accounts"
   end
%>

<table class="table table-bordered">
  <thead>
      <tr>
        <th>Name</th>
        <th>Role</th>
        <th>State</th>
        <th>Action</th>
        <th>Owner</th>
        <th></th>
        <th></th>
      </tr>
  </thead>

  <tbody>
    <% @accounts.each do |account| %>
      <tr>
        <td><%= account.name %></td>
        <td><%= account.role %></td>
        <td><%= account.state %></td>
        <td>
          <% if account.unpaid? %>
              <%= link_to 'Pay', pay_account_path(account) if can? :pay, account%>
          <% elsif account.paid? %>
              <%= link_to 'Activate', activate_account_path(account) if can? :activate, account %>
          <% else %>
              <b>Active</b>
          <% end %>
        </td>
        <td><%= account.owner.id %></td>
        <td><%= link_to 'Edit', edit_account_path(account) if can? :edit, account %></td>
        <td><%= link_to 'Destroy', account, confirm: 'Are you sure?', method: :delete if can? :destroy, account %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br />

<% if can? :create, Account %>
  <%= link_to 'New Account', new_account_path, :class => 'btn btn-primary' %>
<% end %>
