<%
   content_for :title do
     "Listing accounts"
   end
%>

<table class="table table-bordered">
  <thead>
      <tr>
        <th>Name</th>
        <th>Role</th>
        <th>State</th>
        <th>Owner</th>
        <th></th>
        <th></th>
      </tr>
  </thead>

  <tbody>
    <% @accounts.each do |account| %>
      <tr>
        <td><%= account.name %></td>
        <td><%= account.role %></td>
        <td>
          <% if account.active? %>
              <b>Active</b>
          <% else %>
              <%= link_to 'Activate', activate_account_path(account) %>
          <% end %>
        </td>
        <td><%= account.owner.id %></td>
        <td><%= link_to 'Edit', edit_account_path(account) %></td>
        <td><%= link_to 'Destroy', account, confirm: 'Are you sure?', method: :delete %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br />

<%= link_to 'New Account', new_account_path, :class => 'btn btn-primary' %>
